*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.link {
  color: #ff591f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
}

.arrow {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  margin-right: 40px;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  background-color: #ff591f;
  -webkit-box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56);
          box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56);
  text-transform: uppercase;
  padding: 29px  53px;
  border-radius: 100px;
}

.circle {
  border-radius: 50%;
  background-color: #ffcd33;
  position: absolute;
}

.circle_small {
  width: 170px;
  height: 170px;
  left: -30px;
  top: -35px;
  z-index: 0;
}

.circle_big {
  width: 800px;
  height: 800px;
  right: -30px;
  top: -80px;
  z-index: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 4fr 2fr;
      grid-template-columns: 1.5fr 4fr 2fr;
  overflow: hidden;
  position: relative;
}

.header {
  -ms-grid-rows: 2fr 10fr;
      grid-template-rows: 2fr 10fr;
  grid-column-gap: 20px;
  min-height: 900px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff9e6;
  font-size: 18px;
}

.header-logo {
  grid-area: header-logo;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.header-nav {
  grid-area: header-nav;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.header-nav__link {
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
}

.header-nav__link:last-child {
  margin-right: 0;
}

.header-img {
  position: absolute;
  left: 62%;
  bottom: 0;
  width: 500px;
}

.header-contacts {
  grid-area: header-contacts;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.header-contacts__link {
  margin-right: 28px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.header-contacts__phone {
  font-size: 20px;
  font-weight: 900;
}

.header-contacts__callback {
  font-size: 14px;
  display: inline-block;
}

.header-contacts__callback:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.header-text {
  grid-area: header-text;
  position: relative;
  max-width: 650px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 70px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.header-title {
  font-size: 62px;
  margin: 0;
}

.header-subtitle {
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
}

.header-buttons__link {
  margin-left: 39px;
  font-weight: 700;
}

.header-buttons__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 89, 31, 0.7);
}

.thumbs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
}

.thumbs__link {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  margin-right: 10px;
}

.section {
  padding: 3% 0;
}

.section-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 55px;
}

.section-description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #666666;
  font-size: 22px;
  line-height: 1.6;
}

.about-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25%, max-content))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25%, -webkit-max-content));
      grid-template-columns: repeat(auto-fill, minmax(25%, max-content));
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-col {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  -ms-grid-rows: 300px auto 50px;
      grid-template-rows: 300px auto 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.about__title {
  color: #ff591f;
  font-size: 90px;
  margin: 0;
  margin-top: -40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__text {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (max-width: 1407px) {
  .container {
    -ms-grid-columns: 1fr 5fr 2fr;
        grid-template-columns: 1fr 5fr 2fr;
  }
  .header {
    -ms-grid-rows: 1fr 1fr 7fr;
        grid-template-rows: 1fr 1fr 7fr;
  }
  .header-nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header-logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .header-contacts {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .header-text {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 1200px) {
  .container {
    -ms-grid-columns: 1fr 8fr 1fr;
        grid-template-columns: 1fr 8fr 1fr;
  }
  .header {
    -ms-grid-rows: 1fr 0.5fr 0.7fr 10fr;
        grid-template-rows: 1fr 0.5fr 0.7fr 10fr;
  }
  .header-contacts {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .header-nav {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .header-img {
    width: 440px;
  }
  .header-text {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    grid-row-gap: 40px;
  }
  .header-title {
    font-size: 36px;
  }
  .header-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .thumbs {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-row-gap: 10px;
  }
}

@media (max-width: 1050px) {
  .thumbs {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-column-gap: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .about-row {
    -ms-grid-columns: (minmax(50%, max-content))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(50%, -webkit-max-content));
        grid-template-columns: repeat(auto-fill, minmax(50%, max-content));
  }
}

@media (max-width: 900px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .header-buttons__link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 16px;
    -ms-grid-rows: 1fr 1fr 2fr 10fr;
        grid-template-rows: 1fr 1fr 2fr 10fr;
  }
  .header-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
  }
  .header-img {
    width: 400px;
  }
}

@media (max-width: 660px) {
  .container {
    -ms-grid-columns: ()[auto];
        grid-template-columns: repeat(auto);
  }
  .header {
    -ms-grid-rows: 0.7fr 0.3fr 1fr 6fr;
        grid-template-rows: 0.7fr 0.3fr 1fr 6fr;
  }
  .header-nav {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-row-gap: 10px;
  }
  .header-img {
    width: 250px;
  }
  .section-title {
    font-size: 36px;
  }
  .section-description {
    font-size: 18px;
  }
  .about-row {
    -ms-grid-columns: (minmax(100%, max-content))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100%, -webkit-max-content));
        grid-template-columns: repeat(auto-fill, minmax(100%, max-content));
  }
}

@media (max-width: 550px) {
  .header-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */