@media (max-width: 1407px)
  .container
    grid-template-columns: 1fr 5fr 2fr
  .header
    grid-template-rows: 1fr 1fr 7fr
    &-nav
      grid-column: 2/4
      grid-row: 2/3
    &-logo
      grid-column: 2/3
      justify-self: start
    &-contacts
      grid-column: 2/3
      justify-self: end
    &-text
      grid-row: 3/4
@media (max-width: 1200px)
  .container
    grid-template-columns: 1fr 8fr 1fr
  .header
    grid-template-rows: 1fr 0.5fr 0.7fr 10fr
    &-contacts
      grid-row: 2/3
      justify-self: start
    &-nav
      grid-row: 3/4
    &-img
        width: 440px
    &-text
      grid-row: 4/5
      grid-row-gap: 40px
    &-title
      font-size: 36px
    &-subtitle
      font-size: 18px
      line-height: 24px
  .thumbs
    grid-template-columns: repeat(3, auto)
    grid-row-gap: 10px
@media (max-width: 1050px)
  .thumbs
    grid-template-columns: repeat(2, auto)
    grid-column-gap: 60px
    justify-content: start
  .about-row
    grid-template-columns: repeat(auto-fill, minmax(50%, max-content))
@media (max-width: 900px)   
  .header
    &-buttons
      display: flex
      flex-direction: column
      align-items: start
      &__link
        display: inline-block
        margin-top: 30px
        margin-left: 20px
@media (max-width: 768px)
  .header
    font-size: 16px
    grid-template-rows: 1fr 1fr 2fr 10fr
    &-nav
      display: grid
      grid-template-columns: repeat(3, auto)
      grid-gap: 10px
    &-img
      width: 400px
@media (max-width: 660px)
  .container
    grid-template-columns: repeat(auto)
  .header
    grid-template-rows: 0.7fr 0.3fr 1fr 6fr
    &-nav
      grid-template-columns: auto auto
      grid-row-gap: 10px
    &-img
      width: 250px
  .section
    &-title
      font-size: 36px
    &-description
      font-size: 18px
  .about-row
    grid-template-columns: repeat(auto-fill, minmax(100%, max-content))
@media (max-width: 550px)
  .header
    &-img
      display: none



  

    
    
         
