*, *:before, *:after
    box-sizing: border-box
$header-bg: #fff9e6
$circle-bg: #ffcd33
$text-color: #000000
$button-bg: #ff591f
body
  font-family: sans-serif
  margin: 0
.link
  color: $button-bg
  text-decoration: none
  text-transform: uppercase
  display: inline-block
  font-size: 14px
.arrow
  background-color: transparent
  border: none
  opacity: 0.5
  margin-right: 40px
.button
  display: inline-block
  font-size: 14px
  font-weight: 700
  text-decoration: none
  color: #fff
  background-color: $button-bg
  box-shadow: 0 10px 40px rgba($button-bg, 0.35), 0 9px 46px rgba($button-bg, 0.56)
  text-transform: uppercase
  padding: 29px  53px
  border-radius: 100px
.circle
  border-radius: 50%
  background-color: $circle-bg
  position: absolute
  &_small
    width: 170px
    height: 170px
    left: -30px
    top: -35px
    z-index: 0
  &_big
    width: 800px
    height: 800px
    right: -30px
    top: -80px
    z-index: 0
.container
  display: grid
  grid-template-columns: 1.5fr 4fr 2fr
  overflow: hidden
  position: relative
.header
  // grid-template-areas: "header-logo header-nav header-contacts" ". header-text ."
  grid-template-rows: 2fr 10fr
  grid-column-gap: 20px
  min-height: 900px
  align-items: center
  background-color: $header-bg
  font-size: 18px
  &-logo
    grid-area: header-logo
    justify-self: center
    position: relative
    grid-column: 1/2
    grid-row: 1/2
  &-nav
    grid-area: header-nav
    position: relative
    grid-column: 2/3
    grid-row: 1/2
    &__link
      margin-right: 20px
      text-decoration: none
      color: $text-color
      &:last-child
        margin-right: 0
  &-img
    position: absolute
    left: 62%
    bottom: 0
    width: 500px
  &-contacts
    grid-area: header-contacts
    justify-self: center
    position: relative
    display: grid
    grid-template-columns: auto auto
    align-items: center 
    grid-column: 3/4
    grid-row: 1/2
    &__link
      margin-right: 28px
      text-decoration: none
      color: $text-color
      text-transform: uppercase
    &__phone
      font-size: 20px
      font-weight: 900
    &__callback
      font-size: 14px
      display: inline-block
      &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background-color: $text-color
  &-text
    grid-area: header-text
    position: relative
    // align-self: start
    max-width: 650px
    display: grid
    grid-row-gap: 70px
    grid-column: 2/3
    grid-row: 2/3
  &-title
    font-size: 62px
    margin: 0
  &-subtitle
    font-size: 22px
    font-weight: 300
    line-height: 34px
  &-buttons
    &__link
      margin-left: 39px
      font-weight: 700
      &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background-color: rgba($button-bg, 0.7)
.thumbs
  display: grid
  grid-template-columns: repeat(5, auto)
  &__link
      text-decoration: none
      font-size: 15px
      color: $text-color
      font-weight: 700
      margin-right: 10px
.section
  padding: 3% 0
  &-title
    grid-column: 2/3
    font-size: 55px
  &-description
    grid-column: 2/3
    color: #666666
    font-size: 22px
    line-height: 1.6
.about
  &-row
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(25%, max-content))
    grid-column: 2/3
    justify-content: space-between
  &-col
    display: grid
    grid-auto-rows: auto
    grid-template-rows: 300px auto 50px
    align-items: end
    justify-items: center
  &__title
    color: $button-bg
    font-size: 90px
    margin: 0
    margin-top: -40px
    align-self: center
  &__text
    align-self: start

@import 'media'
